* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}
.container {
  margin: 1rem 1rem;
  display: flex;
  justify-content: space-between;
}
div ul {
  display: flex;
  justify-content: center;
}

ul li {
  font-size: 1.5rem;
  list-style: none;
  padding: 0px 20px;
}
.bx {
  display: none !important;
}

@media (max-width: 768px) {
  .container {
    display: block;
    width: 100%;
  }
  div ul {
      margin-top: 1rem;

      display: none;
  }
  div ul li {
    padding: 4px 0px;
  }
  .bx {
    display: block !important;
    position: absolute;
    left: 85%;
    top: 3%;
  }
}
